html, body {


    background: url("../images/planetearth.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container-fluid {
    padding: 0px !important;
}

.drag-drop-row {
    min-height: 500px;
    margin-top: 60px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: transparent;
    color:white;
}

.about-row {
    min-height: 600px;
    width: 100%;
    background-color: whitesmoke;
    color:black;
}